.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 100px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  padding: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  cursor: pointer;
  
  transition: transform 0.2s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  background-color: rgba(32, 173, 84, 0.867)
}
